:root {
  --pale-blue: rgb(224, 232, 255);
  --bright-blue: hsl(245, 75%, 52%);
  --bright-blue-hover: hsl(245, 83%, 68%);
  --very-pale-blue: hsl(228, 56%, 98%);
  --desaturated-blue: rgb(114, 128, 167);
  --dark-blue: hsl(223, 47%, 23%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  padding: 1rem;
  background-color: var(--pale-blue);
  background-image: url('/pattern-background-mobile.svg');
  background-repeat: no-repeat;
  background-size: contain;
  font-family: 'Red Hat Display', sans-serif;
  display: grid;
  place-items: center;
  min-height: 100vh;
  font-size: 0.9375rem;
}

img {
  display: block;
  max-width: 100%;
}

button {
  font-size: inherit;
  font-family: inherit;
  background: transparent;
  border: none;
  color: inherit;
  font-weight: inherit;
  cursor: pointer;
  transition: all 0.2s;
}

.card {
  max-width: 327px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 40px 40px -20px rgba(13, 48, 189, 0.151826);
}

.card__body {
  padding: 2rem 1.5rem;
  background-color: white;
  text-align: center;
  color: var(--desaturated-blue);
}

.card__heading {
  font-size: 1.375rem;
  font-weight: 900;
  color: var(--dark-blue);
}

.card__text {
  margin: 1rem 0.5rem 0;
  line-height: 1.5625rem;
}

.card__plan {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  gap: 1.25rem;
  padding: 1rem;
  background-color: var(--very-pale-blue);
  border-radius: 11px;
  font-size: 0.875rem;
}

.plan-brief {
  display: flex;
  flex-direction: column;
  gap: 0.1875rem;
}

.btn-change {
  margin-left: auto;
  font-size: 0.8125rem;
  color: var(--bright-blue);
  font-weight: 700;
  text-decoration: underline;
}

.btn-change:hover {
  color: var(--bright-blue-hover);
}

.highlight {
  font-weight: 900;
  color: var(--dark-blue);
}

.card__buttons {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
  font-weight: 900;
}

.btn {
  background-color: var(--bright-blue);
  box-shadow: 0px 20px 20px rgba(56, 42, 225, 0.190291);
  border-radius: 11px;
  color: white;
  padding: 0.9375rem 0;
}

.btn:hover {
  background-color: var(--bright-blue-hover);
}

.btn-cancel {
  margin-top: 1.5rem;
}

.btn-cancel:hover {
  color: var(--dark-blue);
}

@media (min-width: 768px) {
  body {
    background-image: url('/pattern-background-desktop.svg');
    font-size: 1rem;
  }

  .card {
    max-width: 450px;
  }

  .card__body {
    padding: 2.8125rem 3rem 3rem;
  }

  .card__text {
    margin: 0;
    margin-top: 1.0625rem;
  }

  .card__heading {
    font-size: 1.75rem;
  }

  .card__plan {
    margin-top: 1.25rem;
    padding: 1.5rem;
    font-size: 1rem;
  }

  .plan-brief {
    gap: 0.375rem;
  }

  .btn-change {
    font-size: 0.875rem;
  }

  .card__buttons {
    margin-top: 2rem;
    font-size: 0.9375rem;
  }

  .btn-cancel {
    margin-top: 2rem;
  }
}
